<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd

	">
    <!--开启@Autowire @PostConstruct @PreDestroy等注解-->
    <context:annotation-config/>

    <!--自动扫包配置-->
    <context:component-scan base-package="com.mmorpg.mbdl">
    </context:component-scan>
    <!--规定@PacketHandle注解的请求包处理类只能放在模块的facade包下-->
    <context:component-scan base-package="com.mmorpg.mbdl.**.facade">
        <!--使@PacketHandle注解的类成为bean-->
        <context:include-filter type="annotation"
                                expression="com.mmorpg.mbdl.framework.communicate.websocket.annotation.PacketHandler"/>
    </context:component-scan>
    <!--加载全局配置-->
    <context:property-placeholder location="classpath*:server.properties,classpath*:dev.properties" />

</beans>