<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--开启@Autowire @PostConstruct @PreDestroy等注解-->
    <context:annotation-config/>

    <!--自动扫包配置-->
    <context:component-scan base-package="com.mmorpg.mbdl" />
    <!--规定@PacketHandle注解的请求包处理类只能放在模块的facade包下-->
    <context:component-scan base-package="com.mmorpg.mbdl.business.**.facade">
        <!--使@PacketHandle注解的类成为bean-->
        <context:include-filter type="annotation"
                                expression="com.mmorpg.mbdl.framework.communicate.websocket.annotation.PacketHandler"/>
    </context:component-scan>
    <context:component-scan base-package="com.mmorpg.mbdl.business">
        <context:include-filter type="assignable"
                                expression="com.mmorpg.mbdl.framework.communicate.websocket.model.AbstractPacket"/>
    </context:component-scan>

    <!--加载全局配置-->
    <bean id="placeholderConfig" class="com.mmorpg.mbdl.framework.common.utils.SpringPropertiesUtil">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="locations">
            <list>
                <value>classpath:server.properties</value>
                <value>classpath:dev.properties</value>
                <value>classpath:jdbc.properties</value>
                <value>classpath:redis.properties</value>
            </list>
        </property>
    </bean>

    <!--缓存配置-->
    <bean class="com.mmorpg.mbdl.framework.storage.config.JetCache.JetCacheConfiguration"/>
    <!--Excel格式定义，可自行实现IExcelFormat接口，然后把这个class换成自己的class-->
    <bean id="iExcelFormat" class="com.mmorpg.mbdl.framework.resource.resolver.excel.ExcelFormat"/>

    <!--数据库以及缓存配置-->
    <bean id = "entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          p:dataSource-ref="dataSource"
          p:packagesToScan="com.mmorpg.mbdl.business"
    >
        <property name="jpaDialect">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
        </property>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"
                  p:generateDdl="true" p:showSql="false"
                  p:database="MYSQL" p:databasePlatform="org.hibernate.dialect.MySQL55Dialect"
            />
        </property>
    </bean>
    <!-- 事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    <jpa:repositories base-package="com.mmorpg.mbdl.**.dao" base-class="com.mmorpg.mbdl.framework.storage.config.JetCache.StorageJetCache"/>
    <bean id="dataSource"
          class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close"
        p:url="${jdbc.url}"
        p:username="${jdbc.username}"
        p:password="${jdbc.password}"

          p:initialSize="${jdbc.datasource.initialSize}"
          p:minIdle="${jdbc.datasource.minIdle}"
          p:maxActive="${jdbc.datasource.maxActive}"
          p:maxWait="${jdbc.datasource.maxWait}"
          p:timeBetweenEvictionRunsMillis="${jdbc.datasource.timeBetweenEvictionRunsMillis}"
          p:minEvictableIdleTimeMillis="${jdbc.datasource.minEvictableIdleTimeMillis}"
          p:validationQuery="${jdbc.datasource.validationQuery}"
          p:testWhileIdle="${jdbc.datasource.testWhileIdle}"
          p:testOnBorrow="${jdbc.datasource.testOnBorrow}"
          p:testOnReturn="${jdbc.datasource.testOnReturn}"
          p:poolPreparedStatements="${jdbc.datasource.poolPreparedStatements}"
          p:maxPoolPreparedStatementPerConnectionSize="${jdbc.datasource.maxPoolPreparedStatementPerConnectionSize}"
    />
    <!--开启@Transactional的支持,并强制使用类代理（cglib代理）-->
    <tx:annotation-driven proxy-target-class="true"/>
    <!-- 使用cglib进行动态代理 -->
    <aop:aspectj-autoproxy proxy-target-class="true" />
    <bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator"/>

</beans>